/* font body and general definitions*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;500;800&display=swap');


body, html {
  margin: 0;
  padding: 0;
  font-family: Heebo;
}

body {
  background-color: rgba(237, 237, 237, 1); /* Light gray background color */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container {
  display: flex;
  width: 100%; 
}
/* spliting the screen to 2 main divs formbox and weatherContainer */
.formBox {
  flex: 40%; 
  border-radius: 8px;
  margin-top: 13%;
  margin-left: 4%;
  color: rgba(58, 58, 84, 01)
}
/* used another div with a relative definiton in order to be able to put the button and the txt input on top of each other */
.relative-container{
  position: relative
}
.checkBtn{
  position: absolute;
  background-color:rgba(22, 100,51);
  color: aliceblue;
  font-weight: 100;
  font-size: large;
  height: 30px;
  width: 80px;
  border-radius: 9px;
  margin-left: 70%;
  margin-top: 3%;
  transition: background-color 0.5s ease;
}

.checkBtn:hover{
  background-color:rgba(22,100,51,0.85);
}

.txtBox{
  width: 87%;
  position: absolute;
  height: 55px;
  border-radius: 10px;
  font-size: larger;
  font-weight: 100;
}
  

h1{
  font-weight: 200;
  font-size: 50px;
}

.weatherContainer {
  flex: 60%; 
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* this is where all the data is being showed */
.weather{
  margin-left: 20%;
  margin-top: 10%;
  height: 37rem;
  width: 30rem;
  background-color: rgba(46, 104, 113);
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.dataContainer{
  color: aliceblue;
  padding: 20px;
}
.paramsTable{
  margin-left: 10%;
margin-top: -10%;
  width: 80%;
  font-size: larger;
}
.paramsTable td {
  font-weight: 800; /* Font weight for table data cells */
}
.paramsTable th {
  font-weight: 100; /* Font weight for table data cells */
}
#city{
  font-size: 500;
}
#country{
  font-weight: 100;
  margin-top: -5%;
  font-size: medium;
}
#degrees{
  font-size: 130px;
  font-weight: 800;
  margin-left: 5%;
}
/* handling error message from the get request */
.notfound {
  color: black;
  font-size: xx-large;
  margin-top: 33%;
  opacity: 0;
  
}
.notfound.show {
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.7s linear infinite;
  position:absolute;
  margin-left: 89%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* make it more responsive for mobile devices */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .formBox,
  .weatherContainer {
    flex: 100%; 
  }

  .weather {
    margin: 10% auto; 
    margin-top: 20%;
    width: 80%; 
  }
  
}